.container {
    padding: 0 2rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(254,55,50);
    background: linear-gradient(90deg, rgba(254,55,50,1) 0%, rgba(255,143,77,1) 50%, rgba(254,55,50,1) 100%);
}
.nav {
    color: #FFFFFF;
    font-size: 1.2rem;
    text-shadow: #000000 0 3px 4px;
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 100vw;
    position: fixed;
    z-index: 2;
    display: flex;

}
.nav-ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-nav-li .nav-li-b{
    display: none;
}

img.logohome{
    
    width: 244px;
    height: auto;
    
}