.container {
    padding: 0 2rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(254,55,50);
    background: linear-gradient(90deg, rgba(254,55,50,1) 0%, rgba(255,143,77,1) 50%, rgba(254,55,50,1) 100%);
}
.nav {
    color: #FFFFFF;
    font-size: 1.2rem;
    text-shadow: #000000 0 3px 4px;
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 90%;
    position: fixed;
    z-index: 2;
    display: flex;

}
.nav-ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-nav-li .nav-li-b{
    display: none;
}
.div-nav-li.div-nav-li-b.nav-li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
}
i button.icon-whatsapp {
    border: none;
    background: none;
    position: fixed;
    z-index: 2;
    margin-top: 90vh;
    margin-left: 80vw;
}
img.logohome{
    margin-top: 6rem;
    width: 214px;
    height: auto;
    
}
div.logo-play {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.button.play {
    width: 74px;
    height: 74px;
    padding: 0;
    background: none;
    position: absolute;
    box-sizing: border-box;
    border-width: 37px 0px 37px 74px;
    border-color: transparent transparent transparent #202020;
    opacity: 60%;
    margin-bottom: 4rem;
  }
h1.home-title{
    margin-top: 6rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-shadow: #000000 0 3px 4px;
    text-align: center;
}
h1.section-title {
    font-size: 2.5rem;
    color: #FFFFFF;
    text-shadow: #000000 0 3px 4px;
    padding-top: 9rem;
}
h2.section-subtitle {
    margin-top: 2.5rem;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2rem;
    color: #FFFFFF;
    text-shadow: #000000 0 4px 3px;
}
ul.home-subtitle-list{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.subtitle-item{
    margin-top: 1rem;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 400;
    text-shadow: #000000 0 2px 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
li.subtitle-item p{
    height: 1px;
    width: 2rem;
    background-color: #FFFFFF;
    box-shadow: #000000 2px 2px 6px;
}
section.empresa {
    padding: 0;
}
.a-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    width: -webkit-fill-available;
    background-image: url(/img/a_empresa_top.png);
    background-position: center;
    padding: 0 2rem;
}
.a-empresa p {
    max-width: 701px;
}
p.line-text {
    margin-top: 2.5rem;
    color: #FFFFFF;
    font-size: 0.95rem;
    line-height: 1.2rem;
    text-shadow: #000000 0 3px 4px;
    justify-items: center;
    margin-bottom: 4rem;
}
div.flip-card-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 165%;
}
.flip-card {
    margin: 2rem;
    background-color: transparent;
    height: 230px;
    width: 311px;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    background-color: #ED5E11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-front, .transform-card-front{
    color: #FFFFFF;
    font-size: 2rem;
  }
  .flip-card-icon {
    height: 75px;
    width: 75px;
  }
  .flip-card-back, .transform-card-back {
    color: #FFFFFF;
    font-size: 0.95rem;
    line-height: 1.5rem;
    transform: rotateY(180deg);
  }
.sustentabilidade {
    background-image: url(/img/sustentabilidade_bottom.jpg);
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    height: auto;
    padding: 35rem 2rem 0rem 2rem;
}
h2.sustentabilidade-title{
    font-size: 2.3rem;
    color: #FFFFFF;
    text-shadow: #000000 0 3px 4px;
}
img.sustentabilidade-icon{
    margin-top: 3.5rem;
}
p.sustentabilidade-text {
    line-height: 1.3rem;
}
section.atuacao {
    display: contents;
    padding-top: 4rem;
}
div.atuacao-top {
    background-image: url(/img/atuacao_background.jpg);
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    height: auto;
}
div.atuacao-bottom {
    height: auto;
    background-image: url(/img/atuacao_bottom.jpg);
    background-size: cover;
    background-position: center;
}
p.atuacao-text {
    margin: 0;
    padding: 2.5rem 0;
    color: #000000;
    text-shadow: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.32rem;
}
section div.atuacao-top p.line-text {
    font-weight: 300;
    line-height: 1.3rem;
    text-shadow: #000000 0 4px 3px;
}
div.transform-card-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background-color: #ED5E11;
}
.transform-card-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2.vantagens-title {
    margin: 2rem 0;
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 400;
}

div.transform-card {
    display: flex;
    width: 250px;
    height: 200px;
    margin: 1rem 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.transform-card-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.transform-card-front {
    position: absolute;
    height: 150px;
    width: 250px;
}
div.transform-card-front i {
    height: 0;
}
img.transform-card-icon {
    height: 80px;
    width: 80px;
}
h2.transform-card-title {
    font-weight: 400;
    font-size: 1.7rem;
}
div.transform-card-front h2 {
    margin-top: 0.6rem;
}
.transform-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    transform: none;
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: #ED5E11;
}
.transform-card-back:hover {
    opacity: 1;
}
p.transform-card-text {
    display: flex;
    height: 100%;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
section.servicos {
    background-image: url(/img/servicos_background.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.servicos-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 5rem;
    align-content: space-around;
    justify-content: space-evenly;
}
.servicos-inner {
    display: flex;
    flex-direction: column;
    height: 397px;
    width: 320px;
    margin: 3rem 1rem;
    align-content: center;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.card-limpeza {
    background-image: url(/img/img_limpeza_geral.jpg);
}
.card-jardinagem {
    background-image: url(/img/img_jardinagem.jpg);
}
.card-jardinagem-title {
    margin-right: 1.6rem;
}
.card-manutencao {
    background-image: url(/img/img_manutencao.jpg);
}
.servicos-card-title {
    font-size: 2.6rem;
    color: #FFFFFFFF;
    text-shadow: #000000 0 3px 4px;
    transition: .5s ease;
}
.servicos-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width: 0;
    height: 397px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(224, 95, 26, 1) 40%);
    transition: .5s ease;
    overflow: hidden;
}
.servicos-card-list {
    width: 240px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #FFFFFFFF;
    list-style-type: disc;
    margin-right: -25rem;
    padding-right: 1rem;
    transition: .5s ease;
}
.servicos-inner:hover .servicos-card-front{
    width: 320px;
}
.servicos-inner:hover .servicos-card-title {
    opacity: 0;
}
.servicos-inner:hover .servicos-card-list {
    margin-right: 0;
}