.container {
    padding: 0 2rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(254,55,50);
    background: linear-gradient(90deg, rgba(254,55,50,1) 0%, rgba(255,143,77,1) 50%, rgba(254,55,50,1) 100%);
}
.nav {
    color: #FFFFFF;
    font-size: 1.2rem;
    text-shadow: #000000 0 3px 4px;
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 90%;
    position: fixed;
    z-index: 2;
    display: flex;

}
.nav-ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-nav-li .nav-li-b{
    display: none;
}
.div-nav-li.div-nav-li-b.nav-li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
}
i button.icon-whatsapp {
    border: none;
    background: none;
    position: fixed;
    z-index: 2;
    margin-top: 90vh;
    margin-left: 80vw;
}
img.logohome{
    margin-top: 6rem;
    width: 214px;
    height: auto;
    
}
div.logo-play {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.button.play {
    width: 74px;
    height: 74px;
    padding: 0;
    background: none;
    position: absolute;
    box-sizing: border-box;
    border-width: 37px 0px 37px 74px;
    border-color: transparent transparent transparent #202020;
    opacity: 60%;
    margin-bottom: 4rem;
  }
h1.home-title{
    margin-top: 6rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-shadow: #000000 0 3px 4px;
    text-align: center;
}
ul.home-subtitle-list{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
li.subtitle-item{
    margin-top: 1rem;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 400;
    text-shadow: #000000 0 3px 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
li.subtitle-item p{
    height: 1px;
    width: 2rem;
    background-color: #FFFFFF;
    box-shadow: #000000 2px 2px 6px;
}
section.a-empresa {
    height: 105vh;
    background-image: url(/img/a_empresa_top.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1.a-empresa-title {
    font-size: 2.1rem;
    color: #FFFFFF;
    text-shadow: #000000 0 3px 4px;
    margin-top: 9rem;
}
p.a-empresa-subtitle {
    margin-top: 2.5rem;
    color: #FFFFFF;
    font-size: 0.95rem;
    line-height: 1.1rem;
    text-shadow: #000000 0 3px 4px;
    justify-items: center;
    margin-bottom: 4rem;
}
div.box-a-empresa {
    margin-top: 29rem;
    position: absolute;
    height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div.box-a-empresa-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
    width: 311px;
    color: #FFFFFF;
    font-size: 0.95rem;
    line-height: 1.5rem;
    background-color: #ED5E11;
}
section.sustentabilidade {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 85vh;
    padding-top: 35rem;
    background-image: url(/img/sustentabilidade_bottom.jpg);
    background-repeat: no-repeat;
}
h2.sustentabilidade-title{
    font-size: 2.3rem;
    color: #FFFFFF;
    text-shadow: #000000 0 3px 4px;
}
img.sustentabilidade-icon{
    margin-top: 3.5rem;
}